.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color:blue;
  color:white;
  border-radius:10px;
  width:100px;
  height:30px;
}

input {
  border-radius: 20px;
  width: 70px;
  padding: 10px;
  outline: none;
}

label {
  padding-right: 5px;
}

.pcontainer{
  width: 50vw !important;
  height: 30px;
  border-radius: 40px;
  border-style: none;
  background-color: #cdcdcd;
  color: red;
  position: relative;
  z-index: -1;
  margin-bottom: 5px;
}

.innerContainer{
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 28px;
  display: grid;
  border-style: none;
  place-items: center;
  border-radius: 40px;
  background: linear-gradient(to left, #f2709c, #ff9472);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  color: white;
  position: absolute;
  transition: 1.5s ease 0.3s;
  z-index: 100;
}